@font-face {
	font-family: Lora-R;
	src: url('./fonts/Lora-Regular.ttf') format('truetype');
}

@font-face {
	font-family: NewsCycle-B;
	src: url('./fonts/NewsCycle-Bold.ttf') format('truetype');
}

.search-field-container{
	width: 60%;
	height:65px;
	border:0.3rem solid #4da9ff;
	border-radius: 0.5rem;
	clear:left;
	margin-left: 2rem;
	background-color: white;
	overflow: hidden;
	-webkit-transition: width 0.25s;
	-webkit-transition-timing-function: linear;
	white-space: nowrap;
}

.search-container{
	float:left;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	position:relative;
	
	width: 85%;
	height: 100%;
	margin-left:1rem;
	overflow: hidden;
	flex: 0 0 100%;
	/* demarcation
	border-right-width: 1px;
	border-right-style: solid;
	*/
}

.search-form{
	width:100%;
}

input[type=text]{
	width:50%;
	overflow: hidden;
	font-family: Lora-R;
}

input[type=float]{
	width: 20%;
	font-family: Lora-R;
}

select{
	font-family: Lora-R;
}

button {
	overflow: hidden;
}

.form-fixed, .reset-fixed{
	font-family: NewsCycle-B;
}

.filter-container{
	float:left;
	display: flex;
	align-items: center;
	position:relative;
	
	width: 75%;
	height: 100%;
	margin-left:1rem;
	overflow: hidden;
	/* 
	demarcation 
	border-right-width: 1px;
	border-right-style: solid;
	*/
}

.filter-field-container{
	width:42%;
	height:65px;
	border:0.3rem solid #4da9ff;
	border-radius: 0.5rem;
	clear:left;
	margin-left: 2rem;
	background-color: white;
	-webkit-transition: width 0.25s;
	-webkit-transition-timing-function: linear;
	overflow: hidden;
}

.reset-container{
	float:right;
	display: flex;
	justify-content: center;
	align-items: center;
	position:relative;
	top:50%;
	transform: translateY(-50%);
	width: 9%;
	height: 30px;
	border:0.2rem solid #cce6ff;
	border-radius: 0.5rem;
	background-color: #cce6ff;
	margin-right:1rem;
	-webkit-transition: border-color 0.5s, color 0.5s;
	cursor: pointer;
	color: rgba(0,0,0,0.5);
}

.reset-container:hover{
	border-color: #4da9ff;
	color: rgba(0,0,0,1);
}

