@font-face {
	font-family: Roboto-b;
	src: url('./fonts/RobotoSlab-Bold.ttf') format('truetype');
}

.selector-container{
	margin-top: 1rem;
	display: inline-block;
}

.selector-1,.selector-2{
	float: left;
	width: 80px;
	height: 30px;
	border:0.2rem solid #cce6ff;
	background-color: #cce6ff;
	border-radius: 0.5rem;
	text-align: center;
	vertical-align: middle;
	line-height:30px;
	cursor: pointer;
	-webkit-transition: border-color 0.5s, background-color 0.2s, transform 0.2s, color 0.5s;
	-webkit-transition-timing-function: linear;
	font-family: Roboto-b;
	color: rgba(0,0,0,0.4);
}
.selector-1{ margin-left: 2rem; }
.selector-2{ margin-left: 0.3rem; }

.selector-1:hover,.selector-2:hover{
	border-color: #4da9ff;
	color: rgba(0,0,0,1);
}

.selector-1-selected{
	float: left;
	width: 80px;
	height: 30px;
	border:0.2rem solid #4da9ff;
	background-color: #4da9ff;
	border-radius: 0.5rem;
	text-align: center;
	vertical-align: middle;
	line-height:30px;
	cursor: pointer;
	-webkit-transition: border-color 0.1s, background-color 0.2s, transform 0.2s;
	margin-left: 2rem;
	transform: translateY(0.4rem);
	font-family: Roboto-b;
}

.selector-2-selected{
	float: left;
	width: 80px;
	height: 30px;
	border:0.2rem solid #4da9ff;
	background-color: #4da9ff;
	border-radius: 0.5rem;
	text-align: center;
	vertical-align: middle;
	line-height:30px;
	cursor: pointer;
	-webkit-transition: border-color 0.1s, background-color 0.2s, transform 0.2s;
	margin-left: 0.3rem;
	transform: translateY(0.4rem);
	font-family: Roboto-b;
}