@font-face {
	font-family: Oswald-r;
	src: url('./fonts/Oswald-Regular.ttf') format('truetype');
}

@font-face {
	font-family: Quicksand-r;
	src: url('./fonts/Quicksand-Regular.ttf') format('truetype');
}

.header-container{
	width:50%;
	float:left;
}

h1 {
	font-family: 'Oswald-r', sans-serif;
	letter-spacing: 0px;
	margin-left: 2rem;
	font-size: 2.5rem;
	margin-top: 1rem;
	margin-bottom: 1.5rem;
}