@font-face {
	font-family: Quicksand-m;
	src: url('./fonts/Quicksand-Regular.ttf') format('truetype');
}

.summary-container{
	width: 15%;
	float:right;
	text-align: center;
	font-size: 1vw;
	font-family: Quicksand-m;
	cursor:pointer;
}	

.summary-header{
	margin-left: auto;
	background-color: rgba(255,255,255,0.7);
	margin-right: 2rem;
	border: 0.25rem solid rgba(0,0,0,0);
	color: rgba(0,0,0,0.4);
	border-radius: 1rem;
	-webkit-transition: border-color 0.25s,color 0.25s;
}

.summary-header:hover{
	border-color: rgba(0,0,30,0.3);
	color:rgba(0,0,0,1);
}