.app{
	-ms-overflow-style: none; /* hide scrollbars in IE */
}

.header{
	width:100%;
	background-color: transparent;
}

.body{
	height:100%;
	overflow: scroll;
	clear: both;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

/*html, body {margin: 0; height: 100%; overflow: hidden}*/