.cell-customer{
	width:150%;
	height:200%;
	padding:7px 5px;
	cursor:pointer
}

.cell-action{
	cursor: pointer;
	width:100%;
	padding:7px 5px;
}

.cell-action:hover{
	text-decoration: underline; 
}

h3{
	margin-top: -0.5rem;
}